p
{
	font-family: 'Bangers', cursive;
	font-size: 1.9em;
	color: white;
}
body
{
    background-image: url("map.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#origin,#destination,#hour,#min{
	opacity: 0.5;
}
.btn-primary, .btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color:  #4d0000 !important;
    color: white;
}
.btn-primary, .btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    border-color: #4d0000 !important;
    color: white;
}
#result{
	font-size: 2em;
	font-family: 'Dhurjati', sans-serif;
	color:white;
}
html,body{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
